// 切换主题模式-动画样式
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

.dark::view-transition-old(root) {
  z-index: 1;
}

.dark::view-transition-new(root) {
  z-index: 999;
}

::view-transition-old(root) {
  z-index: 999;
}

::view-transition-new(root) {
  z-index: 1;
}

:root {
  font-size: var(--text-default-size);
  color: var(--dark-text-color);

  &.dark {
    color-scheme: dark;
  }
}