@forward "../vars/themeScssVar.scss" with (
  // 基本信息
  $scss-theme-class: ".dark",
  $scss-color-scheme: "dark",
  // 基本颜色
  $scss-color-mix-dark: #ffffff,
  $scss-color-mix-light: #141414,
  // 文字颜色
  $scss-text-color-primary: rgba(#f0f5ff, 0.95),
  $scss-text-color-regular: rgba(#f0f5ff, 0.85),
  $scss-text-color-secondary: rgba(#f0f5ff, 0.65),
  $scss-text-color-placeholder: rgba(#f0f5ff, 0.55),
  $scss-text-color-disabled: rgba(#f0f5ff, 0.4),
  // 边框颜色
  $scss-border-color-base: rgba(#f5f8ff, 0.25),
  $scss-border-color-light: rgba(#f5f8ff, 0.2),
  $scss-border-color-lighter: rgba(#f5f8ff, 0.15),
  $scss-border-color-extra-light: rgba(#f5f8ff, 0.1),
  $scss-border-color-dark: rgba(#f5f8ff, 0.3),
  $scss-border-color-darker: rgba(#f5f8ff, 0.35),
  // 阴影
  $scss-box-shadow-default: (0px 12px 32px 4px rgba(0, 0, 0, 0.36), 0px 8px 20px rgba(0, 0, 0, 0.72)),
  $scss-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.72),
  $scss-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.72),
  $scss-box-shadow-dark: (0px 16px 48px 16px rgba(0, 0, 0, 0.72), 0px 12px 32px #000000, 0px 8px 16px -8px #000000),
  // 背景颜色
  $scss-bg-color-header: #181818,
  $scss-bg-color-nav: #181818,
  $scss-bg-color-page: #0a0a0a,
  $scss-bg-color-block: #141414
);

@use "../vars/themeCssVar.scss";
@use "../vars/elementCssVar.scss";
